*{
align-items:center;
justify-content:center;
}

.contact-wrap{
max-width:900px;
margin:auto;
}

input,textarea{
width:100%;
padding:16px;
margin:12px 0;
background:rgba(255,255,255,.06);
border:none;
border-radius:12px;
color:white;
}

textarea{
height:160px;
}

.chat-shell{
max-width:760px;
margin:auto;
}

.chat-box{
height:320px;
overflow-y:auto;
padding:15px;
}

.bot-msg,.user-msg{
padding:14px;
border-radius:14px;
margin:10px 0;
max-width:75%;
}

.bot-msg{
background:rgba(0,255,255,.1);
}

.user-msg{
background:rgba(120,80,255,.18);
margin-left:auto;
}

.chat-input-row{
display:flex;
gap:10px;
margin-top:15px;
}

footer{
text-align:center;
padding:50px;
color:#91a4c9;
}

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:none;
}

@media(max-width:800px){
.navbar{
flex-direction:column;
gap:20px;
}
nav{
flex-wrap:wrap;
justify-content:center;
}
}